{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br>
<br>
<div>
	<div id="game-container" style="text-align: center"></div>

	<div id="replay-status-panel" style="width:55%; margin: 0 auto; margin-top:4.5em">
		<h3 style="margin-bottom:-0.5em; font-size:1.5em">Current Time:</h3>
		<div class="row">
			<div class="col-md-8" id="game-time" style="">
				<h2><span id="game-time-content"></span></h2> 
			</div>
			<div class="col-md-4">
				
				<h2 style="text-align: right; {% if mode == 'simulate' %} display: none {% endif %}">
					<button id="play_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-play"></i> &nbsp;Play</strong>
				  </button>
				  
				  <button id="pause_button" type="button" class="btn btn-default">
				    <strong style=" font-size:1.2em"><i class="glyphicon glyphicon-pause"></i> &nbsp;Pause</strong>
				  </button>

				</h2>

				<!-- Collapse the map and just read the agent-info panels below
				     (toggles visibility only; the replay keeps running). -->
				<div style="text-align: right; margin-top: 0.5em">
					<button id="toggle_map_button" type="button" class="btn btn-default btn-sm" title="Hide or show the map">
						<i class="glyphicon glyphicon-eye-close"></i> Hide map
					</button>
				</div>

				<!-- Zoom / navigation controls. These reach the Phaser camera via
				     the global `mainCamera` set up in home/main_script.html. -->
				<div id="zoom-controls" style="text-align: right; margin-top: 0.5em">
					<div class="btn-group" role="group" aria-label="Zoom controls">
						<button id="zoom_out_button" type="button" class="btn btn-default" title="Zoom out">
							<i class="glyphicon glyphicon-minus"></i>
						</button>
						<button id="zoom_reset_button" type="button" class="btn btn-default" title="Fit whole map">
							<i class="glyphicon glyphicon-fullscreen"></i> Reset
						</button>
						<button id="zoom_in_button" type="button" class="btn btn-default" title="Zoom in">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
					<div style="font-size: 0.85em; color: #888; margin-top: 0.4em">
						Scroll to zoom &middot; drag to pan &middot; arrow keys to move
					</div>
				</div>

			</div>
		</div>

		<br>
		<hr style="border-color:#999999">
		<br>

		{% for p_name, p_name_os in persona_names %}
			<div class="media" style="background-color:#EEEEEE; padding:1em; padding-left:3.5em; padding-right:2em; border-radius:10px">
			  <div class="media-left media-middle">
			    <a href="#">
			      {% with 'assets/characters/profile/'|add:p_name_os|add:'.png' as profile_img %}
			      <img class="media-object" src="{% static profile_img %}" style="width:5em; image-rendering:pixelated">
			      {% endwith %}
			    </a>
			  </div>
			  <div class="media-body" style='padding-left:3em; padding-top:0.5em; padding-bottom:1em'>
			  	<div class="row">
			    	<h2 class="col-md-8" id="name__{{ p_name_os }}" style="margin-bottom:0.8em; font-size:1.85em; ">
			    		{{p_name}} &nbsp;&nbsp;
			    		<a href="{% url 'replay_persona_state' sim_code step p_name_os %}" style="font-size:0.6em">State Details</a>
			    	</h2>
			    </div>
			    <div style="">
					  <p style="font-size:1.2em"><strong>Current Action:</strong> <br><span id="current_action__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Location:</strong> <br><span id="target_address__{{ p_name_os }}"></span></p>
					  <p style="font-size:1.2em"><strong>Current Conversation:</strong> <br><span id="chat__{{ p_name_os }}"></span></p>
					</div>
			  </div>
			</div>	
			<br>
		{% endfor %}




		

	</div>
</div>

  



<div style="padding-bottom:15em"> </div>


<!-- partial -->
<script src='https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js'></script>
{% include 'home/main_script.html' %}
{% endblock content %}

